**/__pycache__
**/**.pt
data/
.DS_Store
temp/
run.sh
third_party/
out/
arc.sh
0000.png
0000_gt.png
0000_sparse.png
0000_vanilla.png
00138.png
colmap2gt.py
configs/KITTI
configs/Tanks
configs/preprocess_Ballroom_sparse.yaml
configs/preprocess_Ballroom_sparser.yaml
gt.png
load_poses.py
pose_loss.py
process_results.sh
out.png
resize.py
result.txt
result_dpt.txt
results
scenes.txt
test.mp4
test.png
test1.png
test2.png
